extends base.pug
//- block sidenavbar  
block content
  .container
    ul.pagination.justify-content-center.pagination-lg(style='margin:160px 0px')
      li.page-item
        a.page-link(href='/admin/registered') Registered User
      li.page-item
        a.page-link(href='/admin/requested') Vaccination Request
      li.page-item
        a.page-link(href='/admin/vaccination') Vaccination
      li.page-item
        a.page-link(href='/admin/vaccinated') Vaccinated User
      li.page-item
        a.page-link(href='/admin/feedback') Feedback
      li.page-item
        a.page-link(href='/admin/logout') Logout 
      
