html(lang='en')
  head
    title About US
    meta(charset='utf-8')
    
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
   
    
        
  body(style="background-color: rgb(35, 35, 95); color: #fff;")
    h1(style="text-align: center; margin-bottom: 2rem") Contributors
    .container(style="display : flex; justify-content: space-around; flex-wrap: wrap")
      .pic(style="width: 300px")
        h1 Manas Bhardwaj
        img.rounded-circle(src='/images/about/img6.jpeg' alt='Cinque Terre' width='304' height='236')
      .pic(style="width: 500px")
        h1  Sourav Kumar Ojha
        img.rounded-circle(src='/images/about/img4.jpeg' alt='Cinque Terre' width='304' height='236')
      .pic(style="width: 500px")
        h1  Tufail Akram
        img.rounded-circle(src='/images/about/img2.jpeg' alt='Cinque Terre' width='304' height='236')
      .pic(style="width: 500px")
        h1 Abhilok Yadav
        img.rounded-circle(src='/images/about/img3.jpeg' alt='Cinque Terre' width='304' height='236')
      .pic(style="width: 500px")
        h1  Shubhankae Pati
        img.rounded-circle(src='/images/about/img5.jpeg' alt='Cinque Terre' width='304' height='236')
      .pic(style="width: 500px")
        h1  Piyush Parthak Samal
        img.rounded-circle(src='/images/about/img1.jpeg' alt='Cinque Terre' width='304' height='236')
