html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        title contact us
    body 
        .container 
            form(action='/contactUs' method='POST')
                .form-group
                    label(for='email') Email
                    input.form-control(type='email', name='email' placeholder='Email' autofocus=true)
                .form-group
                    label(for='message') Message
                    textarea.form-control(name="message", cols="30", rows="10") 
                button.btn.btn-primary(type='submit') Send