doctype html
html
  head
    title Wheel Box
    block scripts
    block style 
  body
    div#navbar 
      ul 
        li #[a(href = "/home") Home]
        li #[a(href = "/") About]
        li #[a(href = "/") FAQ]
        li #[a(href = "/contact") Contact Us]
        li #[a(href = "/user/login") User Login]
        li #[a(href = "/admin/login") Admin Login]

    block content  

    footer#footer 
      |   Copyright © 2021 www.Co-Vaccine-Provider.com | All Rights Reserved.   
        
      