@font-face {
  font-family: uchen;
  src: url("fonts/DDC_Uchen.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: Verdana;
  background-color: var(--homeBg);
  width: 100vw;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.container_home {
  display: grid;
}
.header {
  display: grid;
  grid-template-columns: 160px auto;
}
.logo > img {
  width: 160px;
  height: 160px;
}
.nav_logo {
  height: 50px;
  width: 50px;
  background-color: #0066cc;
}
.head {
  display: grid;
  place-items: center;
  background-image: url("/images/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* .head_bg {
  background: #71647994;
  width: 650px;
  height: 100px;
  opacity: 0.4;
  border-radius: 10px;
  box-shadow: 0 30px 10px 3px #000;
}
.head_content {
  position: absolute;
  top: 40px;
  left: 35%;
  font-family: "uchen";
  font-size: 3.3rem;
  color: #000;
  -webkit-text-fill-color: cornsilk;
  font-weight: 700;
  text-shadow: 2px 2px black;
  letter-spacing: 2px;
} */

/* Experiment */

.head_bg {
  background: var(-head_bg);
  width: 650px;
  height: 100px;
  position: absolute;
  opacity: 0.4;
  border-radius: 10px;
  box-shadow: 0 30px 10px 3px #000;
}

.head_content {
  position: relative;
  width: 650px;
  height: 100px;
  text-align: center;
  padding: 10px;
  font-family: "uchen";
  font-size: 3.3rem;
  -webkit-text-fill-color: cornsilk;
  font-weight: 700;
  text-shadow: 2px 2px black;
  letter-spacing: 2px;
}

/* --------------------- */

.nav_norm {
  color: #dfdfdf;
  background: #c4c0db30;
  scroll-behavior: smooth;
}
.collapse {
  justify-content: space-between;
}
#navbar_top {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 550;
  transition: 1s ease;
}

.carousel_center {
  display: grid;
  place-items: center;
  transition: 1s ease;
}

.carousel-item {
  overflow: hidden;
}

.carousel-item > img {
  width: 1490px;
  height: 500px;
  transition: 1s ease;
}

.carousel-item > img:hover {
  transform: scale(1.2);
}

.card {
  width: 300px;
  margin-top: 3%;
  margin-left: 36%;
}
.was-validated {
  margin-left: 5%;
}
.b1 {
  float: right;
  font-size: x-large;
  color: rgba(255, 13, 25, 0.87);
}
.b2 {
  float: right;
  font-size: x-large;
  color: rgba(255, 13, 25, 0.87);
}
.h1 {
  color: rgba(255, 13, 25, 0.87);
}
.line {
  border: 10px solid rgb(255, 140, 136);
  border-radius: 3px;
}
.h3 {
  margin-left: 30%;
  margin-top: 5%;
}
.embed {
  margin-left: 100px;
}
.rounded-circle {
  height: 220px;
  width: 220px;
  margin-left: 80px;
  padding: 50px;
}

.forms {
  display: grid;
  grid-template-columns: auto auto;
  height: 270px;
}

.login_form,
.pincode_form {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr 1fr 1fr;
  color: var(--lgray);
  padding: 10px;
}
.form-group {
  width: 400px;
}

.form_btn {
  margin-top: -30px;
}
.buster_list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
}

.buster_list > a > img {
  transition: 2s ease;
}

.buster_list > a > img:hover {
  transform: rotate(360deg);
}

/* .pincode_form {
  display: grid;
  place-items: center;
  background-color: transparent;
  color: #dfdfdf;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
} */
.pincode,
.pincode_date {
  text-align: center;
  padding: 10px;
}

.pincode_input {
  display: flex;
}
.video {
  display: grid;
  place-items: center;
  padding: 10px;
}

.partition {
  width: 100%;
  height: 100px;
}

.box {
  margin: 0;
  display: block;
}

.stat_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.stat_card {
  width: 150px;
}

.stat_head {
  text-align: center;
  background-color: var(--lblue);
  color: white;
  font-size: 1.2 rem;
  font-weight: 600;
}
.stat_head_daily {
  text-align: center;
  color: var(--lblue);
  background-color: white;
  font-size: 1.2 rem;
  font-weight: 600;
}

.text {
  text-align: center;
  color: var(--lgray);
}

.value {
  text-align: center;
  font-size: 1.5rem;
  color: var(--vblue);
  font-weight: 600;
}

#footer {
  background: var(--lblue);
  text-align: center;
  color: var(--lgray);
}
