@font-face {
  font-family: uchen;
  src: url("fonts/DDC_Uchen.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
.container_home {
  display: grid;
}
.header {
  display: grid;
  grid-template-columns: 160px auto;
}
.logo > img {
  width: 160px;
  height: 160px;
}
.nav_logo {
  height: 50px;
  width: 50px;
  background-color: #0066cc;
}
.head {
  display: grid;
  place-items: center;
  font-family: "uchen";
  font-size: 3.3rem;
  font-weight: 700;
  color: red;
}

.nav_norm {
  color: #dfdfdf;
  background: #c4c0db30;
  scroll-behavior: smooth;
}
.collapse {
  justify-content: space-between;
}
#navbar_top {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 550;
  transition: 1s ease;
}

.carousel_center {
  display: grid;
  place-items: center;
  transition: 1s ease;
}
.card {
  width: 300px;
  margin-top: 3%;
  margin-left: 36%;
}
.was-validated {
  margin-left: 5%;
}
.b1 {
  float: right;
  font-size: x-large;
  color: rgba(255, 13, 25, 0.87);
}
.b2 {
  float: right;
  font-size: x-large;
  color: rgba(255, 13, 25, 0.87);
}
.h1 {
  color: rgba(255, 13, 25, 0.87);
}
.line {
  border: 10px solid rgb(255, 140, 136);
  border-radius: 3px;
}
.h3 {
  margin-left: 30%;
  margin-top: 5%;
}
.embed {
  margin-left: 100px;
}
.rounded-circle {
  height: 220px;
  width: 220px;
  margin-left: 80px;
  padding: 50px;
}

.forms {
  display: grid;
  grid-template-columns: auto auto;
  height: 270px;
}

.login_form,
.pincode_form {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr 1fr 1fr;
  color: #dfdfdf;
  padding: 10px;
}
.form-group {
  width: 400px;
}

.form_btn {
  margin-top: -30px;
}
.buster_list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  place-items: center;
}

/* .pincode_form {
  display: grid;
  place-items: center;
  background-color: transparent;
  color: #dfdfdf;
  padding: 10px;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr;
} */
.pincode,
.pincode_date {
  text-align: center;
  padding: 10px;
}

.pincode_input {
  display: flex;
}
.video {
  display: grid;
  place-items: center;
  padding: 10px;
}

.partition {
  width: 100%;
  height: 100px;
}

.box {
  margin: 0;
  display: block;
}

.stat_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.stat_card {
  width: 150px;
}

.stat_head {
  text-align: center;
  background-color: #0066cc;
  color: white;
  font-size: 1.2 rem;
  font-weight: 600;
}
.stat_head_daily {
  text-align: center;
  color: #0066cc;
  background-color: white;
  font-size: 1.2 rem;
  font-weight: 600;
}

.text {
  text-align: center;
  color: #dfdfdf;
}

.value {
  text-align: center;
  font-size: 1.5rem;
  color: #0066ff;
  font-weight: 600;
}

#footer {
  background: #0066cc;
  text-align: center;
  color: #dfdfdf;
}
