.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.box {
  display: grid;
  width: 400px;
  height: 500px;
  grid-template-rows: 1fr 2fr;
}
h1 {
  text-align: center;
}

.form-control {
  text-align: center;
}

.form-select {
  width: 180px;
}

.form_btn {
  text-align: center;
  padding-top: 10px;
}
