.profile_cont {
  width: 100%;
  height: 100vh;
  background-color: rgb(54, 54, 88);
  color: rgb(214, 231, 60);
}

.header {
  width: 100%;
  background-color: #2d2d33;
  height: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 200px;
}

.logout {
  padding: 10px;
  position: relative;
  margin-top: 50px;
  background-color: #2d2d33;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: rgb(214, 231, 60);
}

.logout:hover{
  background-color: #2d2d339d;
  color: #fff;
  text-decoration: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.container_body {
  display: grid;
  place-items: center;
}

.profile {
  margin-top: 50px;
  display: grid;
  place-items: center;
  grid-template-rows: 100px auto 1fr;
  width: 600px;
  height: 80vh;
  border: 1px solid;
  box-shadow: 1px 1px 5px 1px rgb(220, 230, 133);
}

.profile_details {
  padding: 10px;
  height: 300px;
  display: grid;
  gap: 15px;
}

.data_block {
  display: grid;
  grid-template-columns: 135px auto;
  column-gap: 20px;
  font-size: 1.1rem;
  font-weight: 550;
}

.label {
  text-align: right;
}

.value {
  font-style: oblique;
}

.right {
  display: grid;
  place-items: center;
}
.right_group {
  display: grid;
  grid-gap: 10px;
}
