.table {
  margin-top: 6%;
}
.name {
  margin-left: 85%;
}
.title {
  margin-left: 40%;
}
#btn {
  margin-top: 2%;
}
body {
  background-color: rgb(26, 26, 63);
}

tr {
  text-align: center;
}

.box_form {
  display: grid;
  grid-template-columns: 100px auto;
  place-items: center;
}

.hover_btn {
  display: block;
  width: 100px;
}

td {
  height: 68px;
  vertical-align: middle !important;
}
tr:hover .h_btn {
  display: block;
}

.h_btn {
  display: none;
  padding: 0 5px;
}
